[submodule "client"]
    path = client
    url = https://github.com/omlondhe/container-manager-frontend-react

[submodule "server"]
    path = server
    url = https://github.com/omlondhe/container-manager-backend
    
